# Dependencies

/node_modules
/.pnp
.pnp.*


# Build / Production Outputs

/build
/dist
/.next
/out


# Frameworks & Tools

# Next.js
next-env.d.ts

# Prisma
/src/generated/prisma

# Sanity
/.sanity
.sanity


# Testing & Coverage

/coverage


# Logs & Debug

/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log


# Environment Files

.env*
!.env.example
*.local


# Misc

.DS_Store
*.pem


# Hosting / Deployment

.vercel
.unlighthouse


# TypeScript

*.tsbuildinfo
